[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {extras = ["argon2"],version = "*"}
djangorestframework = "~=3.9.4"
django-rest-swagger = "*"
django-cors-headers = "*"
django-import-export = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
djoser = "*"
social-auth-app-django = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-sendgrid-v5 = "*"
drf-writable-nested = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
twilio = "*"
drfpasswordless = {editable = true,git = "https://github.com/luisroel91/django-rest-framework-passwordless.git",ref = "master"}
psycopg2 = "*"
werkzeug = "*"
pyopenssl = "*"

[requires]
python_version = "3.7"
