[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {extras = ["argon2"],version = "*"}
djangorestframework = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
django-import-export = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
djoser = "*"
social-auth-app-django = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
