{% load i18n %}

{% block subject %}
{% blocktrans %}Thanks for signing up with us!{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}We're happy you've decided to let us help you on the endless quest for proper food budgeting :){% endblocktrans %}

{% trans "One more thing! We'll need you to click the link below to activate your account: " %}
{{ url }}

{% blocktrans %}Thanks again, you rock!{% endblocktrans %}

{% trans "The Grocytrack team" %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}We're happy you've decided to let us help you on the endless quest for proper food budgeting :){% endblocktrans %}</p>

<p>{% trans "One more thing! We'll need you to click the link below to activate your account: " %}</p>
<p><a href="{{ url|safe }}">{{ url|safe }}</a></p>

<p>{% blocktrans %}Thanks again, you rock!{% endblocktrans %}</p>

<p>{% trans "The Grocytrack team" %}</p>

{% endblock html_body %}
