{% load i18n %}

{% block subject %}
{% blocktrans %}You've requested a PIN!{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a PIN for your user account at Grocytrack.{% endblocktrans %}

{% trans "Your PIN is:" %}
{{ callback_token }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Grocytrack team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a PIN for your user account at Grocytrack.{% endblocktrans %}</p>

<p>{% trans "Your PIN is:" %}</p>
<h2>{{ callback_token }}</h2>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Grocytrack team{% endblocktrans %}</p>
{% endblock html_body %}
