{% load i18n %}

{% block subject %}
{% blocktrans %}It's okay, we all forget sometimes {{ user.get_username }}!{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Grocytrack.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
https://www.grocytrack.com/{{ url }}
{% trans "Your username, in case you've forgotten:" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Grocytrack team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Grocytrack.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="https://www.grocytrack.com/{{ url }}">https://www.grocytrack.com/{{ url }}</a>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Grocytrack team{% endblocktrans %}</p>
{% endblock html_body %}
